{% extends 'index.html' %}

{% block content %}

<style>

</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="centered">
            <div class="card shadow card-login">
                <div class="card-title text-center border-bottom">
                    <h2 class="p-3">Вход</h2>
                </div>
                <div class="card-body">
                    {% for cat, msg in get_flashed_messages(True) %}
                        <div class="flash {{cat}}">{{msg}}</div>
                    {% endfor %}
                    <form action="" method="post">
                        {{form.hidden_tag()}}

                        {% for field in form if field.name not in ['csrf_token', 'submit']%}
                        <div class="mb-4">
                            {{ field.label(class='form-label') }}
                            {{ field(class='form-control') }}
                        </div>
                        {% endfor %}

                        <div class="d-grid">
                            {{ form.submit(class="btnSub form-control") }}
                        </div>
                    </form>
                    <div class="registerGo">
                        <a href="register">Регистрация</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

